<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("Index", "Book")">Library Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Book")">Home</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    if(User.IsInRole("Employee") || User.IsInRole("Admin"))
                    {
                        <li>
                            <a href="@Url.Action("DisplayRooms", "Room")" class="nav-link">View Rooms</a>
                        </li>
                    }
                    if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Admin")">Admin</a>
                        </li>
                    }
                    else if (User.IsInRole("Member") || User.IsInRole("Employee"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Profile", "User")">Profile</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Logout", "Login")">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
						<a class="nav-link" href="@Url.Action("Index", "Login")">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="@Url.Action("Register", "Login")">Register</a>
					</li>
                }
            </ul>
        </div>
    </div>
</nav>